.content {
    display: -ms-flexbox;
    display: flex;
    min-height: 80%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 90%;
    margin: 0 auto;
    background-image: url("https://images.pexels.com/photos/414660/pexels-photo-414660.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260")
}